*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .card {
    @apply bg-dark-gray text-white w-80 m-6 rounded border-2 border-dark-gray;
  }
}

.t-shadow {
  text-shadow: 1px 1px 6px black;
}
