<nav
    class="bg-dark-gray w-full sm:w-4/5 mx-auto px-6 pt-8 pb-2 shadow-lg shadow-white"
>
    <div
        class="flex flex-row justify-around md:justify-between align-center flex-wrap"
    >
        <a class="block mb-4 sm:mb-0" href="/">
            <img
                src="./assets/images/fem-festa-logo.png"
                class="animate-pulse"
                width="360px"
                alt="Logo de Fem festa"
            />
        </a>

        <div class="border-white my-auto md:mr-4">
            <ul
                class="text-center mr-0 flex flex-col align-center sm:flex-row mb-4"
            >
                <li class="mx-4">
                    <a
                        class="text-white text-2xl hover:text-rave-purple transition-colors"
                        aria-current="page"
                        href="./bands.html"
                    >
                        Artistas
                    </a>
                </li>

                <li class="mx-4">
                    <a
                        class="text-white text-2xl hover:text-rave-purple transition-colors"
                        aria-current="page"
                        href="./index.html"
                    >
                        Historia
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
