@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;900&display=swap");

$header-font: "Orbitron", sans-serif;

$body-font: "Nunito";

$metalic-skin: linear-gradient(45deg, #444444, lightgrey, #585858);
